        #top-right{
		   width:15%;
		   float:left;
		   }
		.header{
           width:70%;
		   font-family:cursive;
		   text-align:center;
		   margin-left:15%;
         }
		 #head
		 {
		   font-size:53px;
		    font-family:cursive;
		    
		 }
		 #caption{
		    font-size:23px;
		 }
		 body{
		    background-color:#F5F5DC;
			padding-top:52px;
		 }
		 #input{
			 font-size:22px;width:80%;height:44px;
			 border:none;
			 text-align:center;
		 }
		 a{
			text-decoration:none;
			font-size:23px;
		 }
		 button{
		 border:none;}

   
		 
		@media only screen and (max-width: 600px) {
			body{
				font-weight:bold;
				margin:1px;
				padding-top:1px;
				padding-bottom:22px;
				padding-right:1px;
				padding-left:1px;
			}
			#input{width:99%;text-align:center;}
			span{display:none;}
			button{float:left;}
			a{
				font-size:32px;
				text-decoration:none;
				font-weight:normal;
			}
			}
			#head{
				font-size:72px;
			}
		}
		 