$white: #fff;
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);
$headFont: "Montserrat";
$bodyFont: "Open Sans";
$button-color: #01e9f7;
$link-hover: #00484c;
$info-bg: #9af9fe;