/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
}

nav {
  background-color: #fff;
  color: hsl(0, 0%, 8%);
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 0 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
nav a {
  text-decoration: none;
  font-weight: 700;
}

article {
  min-height: calc(100vh - 3rem);
}

#home {
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.avatar {
  border-radius: 999px;
  width: 100%;
  height: auto;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.about {
  margin: 4rem 5rem;
  padding: 2rem 3rem;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  border-radius: 15px;
}

.section-one {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.section-two {
  width: 65%;
}

#portfolio {
  padding: 2rem 10rem;
  background-color: hsl(0, 0%, 12%);
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  margin-top: -2rem;
  background-color: #fff;
  padding: 0.3rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
#social-links img {
  width: 2rem;
  height: auto;
  border-radius: 0;
}

footer {
  text-align: center;
  background-color: black;
  padding: 0.5rem 10rem;
}/*# sourceMappingURL=styles.css.map */