/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 0.9rem;
}

nav {
  background-color: #fff;
  color: hsl(0, 0%, 8%);
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 0 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
nav a {
  text-decoration: none;
  font-weight: 700;
}
nav a:hover,
nav a:active {
  color: #00484c;
}

article {
  min-height: calc(100vh - 3rem);
}

#home {
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row-reverse;
}

.avatar {
  border-radius: 999px;
  width: 100%;
  height: auto;
}

.info-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  background-color: #9af9fe;
  color: black;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5rem;
  padding: 0.5rem 1.6rem;
}

.top-info {
  font-size: 1.5rem;
}

.bottom-info {
  font-weight: 500;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.about {
  margin: 4rem 5rem;
  padding: 2rem 3rem;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  border-radius: 15px;
}

.section-one {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.section-two {
  width: 60%;
}

#action {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}

button {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  background-color: #01e9f7;
  cursor: pointer;
  height: 3rem;
}

button:hover,
button:active {
  background-color: #00484c;
  color: white;
}

a {
  text-decoration: none;
}

#cv {
  background-color: hsl(0, 0%, 8%);
  color: #01e9f7;
  border: 2px solid #01e9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

#cv:hover,
#cv:active {
  background-color: hsl(0, 0%, 12%);
  color: #00484c;
  border: 2px solid #00484c;
}

#social-links-final, #social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.3rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
}
#social-links-final img, #social-links img {
  width: 2rem;
  height: auto;
  border-radius: 0;
}

#social-links {
  margin-top: -2rem;
}

#portfolio {
  text-align: center;
  padding: 2rem 1rem;
}

#portfolio-images {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto;
}
#portfolio-images a {
  width: 100%;
  max-width: 400px;
  border: 2px solid white;
  border-radius: 12px;
}
#portfolio-images a img {
  width: 100%;
  height: 200px;
  max-height: 400px;
  border-radius: 12px;
}

#collaborate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: white;
  color: #00484c;
  min-height: 15rem;
  text-align: center;
}
#collaborate button {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

#contact-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 0;
}
#contact-card .contact-div {
  background-color: #9af9fe;
  color: #00484c;
  height: 4rem;
  border-radius: 5px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
#contact-card .contact-div img {
  width: 2rem;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
#contact section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: row;
  border-radius: 12px;
  margin-bottom: -12px;
  max-width: 800px;
  width: 100%;
}
#contact section div {
  width: 100%;
}
#contact section section {
  width: -moz-fit-content;
  width: fit-content;
}
#contact .top-contact {
  font-weight: 500;
  font-size: 0.7rem;
}
#contact .bottom-contact {
  font-weight: 700;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  gap: 1rem;
}
form div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
  flex-direction: column;
}

textarea {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

input {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 2rem;
}

footer {
  text-align: center;
  background-color: black;
  padding: 0.5rem 10rem;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 1rem;
  }
  #home {
    margin: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  #home .avatar {
    width: 90%;
  }
  .section-one,
  .section-two {
    width: 100%;
  }
  .about {
    margin: 0 1.5rem;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column-reverse;
  }
  .about .avatar {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #portfolio {
    padding: 2rem 2rem;
  }
  #portfolio-images {
    grid-template-columns: auto auto;
  }
  #contact section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column-reverse;
    max-width: 400px;
  }
  #contact section div {
    width: 100%;
  }
  #contact section section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */